* {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Console", Monaco, monospace;
}

body {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-size: 16px;
	background-color: #ffffe2;
	color: #000000;
}

div.blog-version {
	position: fixed;
	left: 5px;
	bottom: 5px;
	font-size: 10px;
}

div.blog-version a {
	text-decoration: none;
}

h2.title {
	color: #0366d6;
	margin-bottom: 15px;
}

a, a:visited {
	color: #0366d6;
}

p {
	margin-top: 25px;
}

p.date {
	margin-top: 0px;
	font-size: 14px;
}

img.logo {
	width: auto;
	height: 128px;
}

code {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #303030;
	border: 1px solid #303030;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	width: 100%;
	display: block;
	padding: 5px 10px 5px 10px;
}
